img[usemap] { 
	max-width: 100%; height: auto; 
}

.vc_custom_1505355781864 {
	background-color: #0a0a0a !important;
	background-position: 0 0 !important;
	background-repeat: repeat !important;
}

.vc_custom_1505355795438 {
	border-right-width: 0px !important;
	border-left-width: 0px !important;
	padding-top: -50px !important;
	padding-left: 20px !important;
	background-color: #444444 !important;
	background-position: 0 0 !important;
	background-repeat: repeat !important;
}

.vc_custom_1505355722432 {
	margin-top: 5px !important;
}

.vc_custom_1491872308936 {
	margin-bottom: 20px !important;
}

.vc_custom_1487540174467 {
	margin-bottom: 0px !important;
}

</style><style type="text/css" data-type="vc_shortcodes-custom-css" style="">.vc_custom_1482501387942 {
	padding-top: 5px !important;
}

.vc_custom_1485457533273 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1485457571404 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483633513977 {
	padding-bottom: 35px !important;
}

.vc_custom_1481582976642 {
	margin-top: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1478202664917 {
	padding-bottom: 50px !important;
}

.vc_custom_1482501387942 {
	padding-top: 5px !important;
}

.vc_custom_1482502694355 {
	margin-bottom: 14px !important;
}

.vc_custom_1487487712932 {
	margin-left: 0px !important;
	border-left-width: 0px !important;
	padding-left: 0px !important;
}

.vc_custom_1486532367824 {
	padding-top: 46px !important;
}

.vc_custom_1486577293785 {
	margin-top: -28px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483732159667 {
	margin-top: -28px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1507337056991 {
	margin-top: -5px !important;
}

.vc_custom_1481582146425 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1481582188582 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1482290883443 {
	margin-top: -28px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483632339756 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1481582146425 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1481582188582 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483632339756 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1487487818961 {
	margin-top: -28px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483633498790 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483633480074 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1482290945966 {
	margin-top: -28px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1487515783929 {
	margin-bottom: 0px !important;
	border-bottom-width: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1482455996597 {
	padding-top: 0px !important;
}

.vc_custom_1484329913963 {
	margin-top: 0px !important;
}

.vc_custom_1481869021721 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1478141106013 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1478200301272 {
	margin-top: 0px !important;
	margin-right: 20px !important;
	padding-top: 0px !important;
	padding-left: 30px !important;
}

.vc_custom_1478124921002 {
	padding-top: 35px !important;
}

.vc_custom_1482333888719 {
	margin-top: -28px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483976559467 {
	padding-top: 0px !important;
}

.vc_custom_1507223397096 {
	margin-top: -5px !important;
}

</style><style type="text/css" data-type="vc_shortcodes-custom-css" style="">.vc_custom_1478226650043 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1479358253020 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 20px !important;
}

.vc_custom_1487606834099 {
	padding-top: 15px !important;
}

.vc_custom_1481692340733 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1479358263706 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 20px !important;
}

.vc_custom_1483639369565 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483639348257 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

</style><style type="text/css" data-type="vc_shortcodes-custom-css" style="">.vc_custom_1481691615872 {
	margin-bottom: 0px !important;
	border-bottom-width: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1481827145867 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1493301822985 {
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1485870743164 {
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1493301842837 {
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1486620821252 {
	padding-top: 14px !important;
}

.vc_custom_1506714069090 {
	margin-top: 0px !important;
}

</style><style type="text/css" data-type="vc_shortcodes-custom-css" style="">.vc_custom_1482501292443 {
	padding-bottom: 14px !important;
}

.vc_custom_1477793284576 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1484510879724 {
	margin-top: -30px !important;
}

.vc_custom_1483639776094 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1484510711765 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1482506977956 {
	padding-top: 25px !important;
}

</style><style type="text/css" data-type="vc_shortcodes-custom-css" style="">.vc_custom_1484862913024 {
	margin-bottom: 0px !important;
	border-bottom-width: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1482501177686 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 26px !important;
}

.vc_custom_1482503796584 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483639719424 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1484862773112 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483976684140 {
	margin-top: 0px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
}

.vc_custom_1484862855639 {
	padding-left: 0px !important;
}

.vc_custom_1481828623612 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1486620368262 {
	padding-left: 0px !important;
}

</style><style type="text/css" data-type="vc_shortcodes-custom-css" style="">.vc_custom_1505355781864 {
	background-color: #0a0a0a !important;
	background-position: 0 0 !important;
	background-repeat: repeat !important;
}

.vc_custom_1505355795438 {
	border-right-width: 0px !important;
	border-left-width: 0px !important;
	padding-top: -50px !important;
	padding-left: 20px !important;
	background-color: #444444 !important;
	background-position: 0 0 !important;
	background-repeat: repeat !important;
}

.vc_custom_1505355722432 {
	margin-top: 5px !important;
}

.vc_custom_1491872308936 {
	margin-bottom: 20px !important;
}

.vc_custom_1487540174467 {
	margin-bottom: 0px !important;
}

</style><style type="text/css" data-type="vc_shortcodes-custom-css" style="">.vc_custom_1482501387942 {
	padding-top: 5px !important;
}

.vc_custom_1485457533273 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1485457571404 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483633513977 {
	padding-bottom: 35px !important;
}

.vc_custom_1481582976642 {
	margin-top: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1478202664917 {
	padding-bottom: 50px !important;
}

.vc_custom_1482501387942 {
	padding-top: 5px !important;
}

.vc_custom_1482502694355 {
	margin-bottom: 14px !important;
}

.vc_custom_1487487712932 {
	margin-left: 0px !important;
	border-left-width: 0px !important;
	padding-left: 0px !important;
}

.vc_custom_1486532367824 {
	padding-top: 46px !important;
}

.vc_custom_1486577293785 {
	margin-top: -28px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483732159667 {
	margin-top: -28px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1507337056991 {
	margin-top: -5px !important;
}

.vc_custom_1481582146425 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1481582188582 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1482290883443 {
	margin-top: -28px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483632339756 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1481582146425 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1481582188582 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483632339756 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1487487818961 {
	margin-top: -28px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483633498790 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483633480074 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1482290945966 {
	margin-top: -28px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1487515783929 {
	margin-bottom: 0px !important;
	border-bottom-width: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1482455996597 {
	padding-top: 0px !important;
}

.vc_custom_1484329913963 {
	margin-top: 0px !important;
}

.vc_custom_1481869021721 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1478141106013 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1478200301272 {
	margin-top: 0px !important;
	margin-right: 20px !important;
	padding-top: 0px !important;
	padding-left: 30px !important;
}

.vc_custom_1478124921002 {
	padding-top: 35px !important;
}

.vc_custom_1482333888719 {
	margin-top: -28px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483976559467 {
	padding-top: 0px !important;
}

.vc_custom_1507223397096 {
	margin-top: -5px !important;
}

</style><style type="text/css" data-type="vc_shortcodes-custom-css" style="">.vc_custom_1478226650043 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1479358253020 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 20px !important;
}

.vc_custom_1487606834099 {
	padding-top: 15px !important;
}

.vc_custom_1481692340733 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1479358263706 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 20px !important;
}

.vc_custom_1483639369565 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483639348257 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

</style><style type="text/css" data-type="vc_shortcodes-custom-css" style="">.vc_custom_1481691615872 {
	margin-bottom: 0px !important;
	border-bottom-width: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1481827145867 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1493301822985 {
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1485870743164 {
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1493301842837 {
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1486620821252 {
	padding-top: 14px !important;
}

.vc_custom_1506714069090 {
	margin-top: 0px !important;
}

</style><style type="text/css" data-type="vc_shortcodes-custom-css" style="">.vc_custom_1482501292443 {
	padding-bottom: 14px !important;
}

.vc_custom_1477793284576 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1484510879724 {
	margin-top: -30px !important;
}

.vc_custom_1483639776094 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1484510711765 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1482506977956 {
	padding-top: 25px !important;
}

</style><style type="text/css" data-type="vc_shortcodes-custom-css" style="">.vc_custom_1484862913024 {
	margin-bottom: 0px !important;
	border-bottom-width: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1482501177686 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 26px !important;
}

.vc_custom_1482503796584 {
	margin-top: 0px !important;
	border-top-width: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483639719424 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1484862773112 {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.vc_custom_1483976684140 {
	margin-top: 0px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
}

.vc_custom_1484862855639 {
	padding-left: 0px !important;
}

.vc_custom_1481828623612 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.vc_custom_1486620368262 {
	padding-left: 0px !important;
}